<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'usuarios/css/Principal.css' %}">
    <link rel="stylesheet" href="{% static 'usuarios/css/bootstrap.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>




  <script src="{% static 'usuarios/js/bootstrap.js' %}">

  </script>
  </div>
</div>
  </body>
</html>
