{% extends 'usuarios/base.html' %}

{% load static %}

{% block contenido %}

<div class="Formulario col-xl-12">
    <h1>Realiza tu compra </h1>
    <form id="formulario" action="{% static 'usuarios/Home.html %}" method="get">

    <div class="col-xl-12">
      <label for="nombre">Nombre y Apellido</label>
      <input id="nombre" required  type="text" name="nombre" minlength="5"  placeholder="Ej:Nombre Apellido">
    </div>
    <br>
    <div class="col-xl-12">
      <label for="rut" >Rut</label>
      <input id="rut" type="text" name="rut" minlength="9" maxlength="10" placeholder="Ej:12345678-9">
    </div>
    <br>
    <div class="col-xl-12">
      <label for="correo">Correo</label>
      <input id="correo" required  type="text" name="correo"   placeholder="Ej:nombre@Correo.com">
    </div>
    <br>
    <div class="col-xl-12">
      <label for="fono">Telefono</label>
      <input id="fono" required  type="number" name="correo"  placeholder="Ej:9 9999 9999">
    </div>

    <br>
    <div class="col-xl-12">
      <label for="fecha">Fecha</label>
      <input id="fecha" type="date" name="fecha" >
    </div>
    <br>

    <div class="col-xl-12">
      <label>Producto favorito </label>
      <input id="chec2" type="checkbox" name="var1" value="Super combo cascarudo">
      <label for="chec2">Super combo cascarudo</label>
      <input id="chec1" type="checkbox" name="var2" value="Pizza Cascaruda napolitana">
      <label for="chec1">Pizza Cascaruda napolitana</label>
      <input id="chec3" type="checkbox" name="var3" value="Completo Cascarudo Italiano">
      <label for="chec3">Completo Cascarudo Italiano</label>

    </div>
    <br>

    <div class="col-xl-12">
      <label>Puntacion del producto</label>
      <select class="modelo" name="modelo">
        <option>Selecione una opción</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>

      </select>
    </div>
    <br>
    <div class="espacio col-xl-12">
      <label>Dirección para el envio (Solo si es para delivery) </label><br>

      <textarea name="name" rows="4" cols="60" placeholder="Dirección exacta"></textarea>
    </div>
    <br>

    <button class="espacio" type="submit" name="button">Enviar</button><br><br>




  </form>
</div>


{% endblock %}